ul{
	list-style-type: none;
	border: 2px solid black;
	margin: 0;
	padding: 0;
	width: 40%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

li{
	font-family: Verdana;
	flex-grow: 1;
	margin-left: 0px;
	padding-left: 0px;
	display: block;
	align-items: center;
	text-align: center;
	padding: 10px 45px 10px 45px;
}

p{
	text-align: center;
	margin-top: -20px;
}
img{
	border: 30px solid cyan;
	display: flex;
	align-items: center;
	height: 150px;
	width: 150px;

}